@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-zinc-800 text-zinc-50 leading-loose;
  }
}

@layer utilities {
  .nav-link {
    @apply transition-all duration-150 ease-in-out hover:font-semibold;
  }

  .h1 {
    @apply text-5xl xl:text-7xl font-semibold;
  }

  .h2 {
    @apply text-4xl xl:text-5xl font-semibold;
  }

  .h3 {
    @apply text-3xl xl:text-4xl font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #fff;
  }

  .text-outline-hover {
    /* -webkit-text-stroke: 1px #818cf8; */
    -webkit-text-stroke: 1px #14b8a6;
  }

  .swiper-pagination-bullet {
    @apply bg-zinc-500 !important;
  }

  .swiper-pagination-bullet-active {
    @apply bg-teal-500 text-teal-400 !important;
  }
}
.home_img {
  box-shadow: inset 0 0 0 70px #2dd4bf;
  animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #2dd4bf !important;
}

.swiper-pagination-bullet {
  background-color: #2dd4bf !important;
}

.swiper-pagination-bullet-active {
  background-color: #2dd4bf !important;
}

#particles canvas {
  z-index: -1 !important;
  height: 100%;
  width: 100%;
  position: absolute;
}
